{% extends "layout.html" %}

{% block heading %}
      First page
{% endblock %}

{% block body %}
      <p>
          A bunch of text here Lorem ipsum dolor sit amet
      </p>




  <p>Please Fill out the registration form below</p>
<form action="{{ url_for('register') }}" method="post">
    <input type="text" name="name" placeholder="Enter Your Name">
    <button>Submit</button>
</form>


  <h1>  {{ message }} </h1>
  <h1>Welcome to the website  </h1>






{% endblock %}

  <!--        example Code for a loop  -->
  <!--        <ul>                               -->
  <!--            {% for name in names %}         -->
    <!--              <li>{{ name }}</li>         -->
  <!--            {% endfor %}                  -->
  <!--        </ul>           -->


  <!--- This is how to do url links -->
  <!-- <a href="{{ url_for('register') }}"> Register</a> -->
