{% extends "layout.html" %}

{% block heading %}
      First page
{% endblock %}

{% block body %}
      <p>
          A bunch of text here Lorem ipsum dolor sit amet
      </p>

{% endblock %}






  <!--        example Code for a loop  -->
  <!--        <ul>                               -->
  <!--            {% for name in names %}         -->
    <!--              <li>{{ name }}</li>         -->
  <!--            {% endfor %}                  -->
  <!--        </ul>           -->


  <!--- This is how to do url links -->
  <!-- <a href="{{ url_for('register') }}"> Register</a> -->
